[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.118"
pydantic = "~=2.11"
requests = "~=2.32"
uvicorn = "~=0.37"

[dev-packages]
black = "~=25.9"
flake8 = "~=7.3"
httpx = "~=0.28"
isort = "~=6.0"
pytest = "~=8.4"
