[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.109"
pydantic = "~=2.6"
requests = "~=2.25"
uvicorn = "~=0.27"

[dev-packages]
black = "~=24.2"
flake8 = "~=7.0"
httpx = "~=0.27"
isort = "~=5.13"
pytest = "~=8.0"
