[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.109"
pydantic = "~=2.5"
requests = "~=2.25"
uvicorn = "~=0.24"

[dev-packages]
black = "~=23.12"
flake8 = "~=7.0"
httpx = "~=0.26"
isort = "~=5.13"
pytest = "~=7.4"
